#################################################################
################## DENY LISTING OF ws DIRECTORY #################
#################################################################
<files .htaccess>
order allow,deny
deny from all
</files>

Options -Indexes -MultiViews

#################################################################
############ ACTIVATION OF WEB SERVER REWRITE ENGINE ############
#################################################################
Options +FollowSymlinks
RewriteEngine on

#################################################################
################ DEFINITION OF URL REWRITE RULES ################
#################################################################
# RULE n° 1 : REWRITES last URI TERM "messages" IN "messages.py"
# Ex. : URL https://www.gaalactic.fr/~login/ws/messages IS CHANGED IN https://www.gaalactic.fr/~login/ws/messages.py
RewriteRule   messages$	messages.py

# RULE n° 2 : REWRITES last URI term "messages/" FOLLOWED BY ANY TERM CONTAINING LOWER-CASE ASCII LETTERS IN "messages.py?dest=term"
# Ex. : URL https://www.gaalactic.fr/~login/ws/messages/men IS CHANGED IN https://www.gaalactic.fr/~login/ws/messages.py?dest=men
RewriteRule   messages/([a-z]+)$	messages.py?dest=$1

# RULE n° 3 ### : REWRITES last URI term "index" IN "index.py"
# Ex. : URL https://www.gaalactic.fr/~login/ws/index IS CHANGED IN https://www.gaalactic.fr/~login/ws/index.py
RewriteRule   index$ index.py

# RULE n° 4 : REWRITES last URI TERM "projet" IN "projet.py"
# Ex. : URL https://www.gaalactic.fr/~login/ws/projet IS CHANGED IN https://www.gaalactic.fr/~login/ws/projet.py
RewriteRule   projet$	projet.py

# RULE n° 5 : REWRITES last URI term "projet/" FOLLOWED BY ANY TERM CONTAINING LOWER-CASE ASCII LETTERS IN "projet.py?dest=term"
# Ex. : URL https://www.gaalactic.fr/~login/ws/projet/get_data IS CHANGED IN https://www.gaalactic.fr/~login/ws/projet.py?action=get_data
RewriteRule   projet/([^/]+)$	projet.py?action=$1